<form [formGroup]="categoryForm" (ngSubmit)="onSubmit()">
  <h1>{{currentId?"Update":"Create"}} category </h1>
  <mat-card>
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input type="text" matInput formControlName="name">
    </mat-form-field>
    <app-image-upload [images]="thumbnail" limit="1" (imageHandle)="setThumbnail($event)"
      (stateHandle)="setState($event)"></app-image-upload>
    <div class="my-3">
      <button type="submit" [disabled]="!categoryForm.valid||uploadState"
        class="btn btn-dark">{{currentId?"Update":"Create"}}</button>
    </div>
  </mat-card>
</form>