<form [formGroup]="productForm" (ngSubmit)="onSubmit()">
  <h1>{{currentId?"Update":"Create new"}} product</h1>
  <mat-card>
    <div class="form-group my-3">
      <label for="name">Name</label>
      <input id="name" class="form-control" type="text" formControlName="name">
    </div>
    <app-show-validate [field]="productForm.get('name')" title="name"></app-show-validate>
    <div class="form-group my-3">
      <label for="price">Price</label>
      <input id="price" class="form-control" type="number" formControlName="price">
    </div>
    <button type="button" [disabled]="images.length==4" class="btn btn-outline-primary" (click)="file.click()">
      Upload Image
    </button>
    <mat-grid-list cols="4" class="relative" *ngIf="images.length!=0">
      <mat-grid-tile *ngFor="let image of images">
        <img [src]="image" width="100%" alt="">
        <button mat-mini-fab (click)="removeImage(image)"><i class="fa fa-close fa-lg" aria-hidden="true"></i></button>
      </mat-grid-tile>
    </mat-grid-list>
    <div class="form-group my-3">
      <input id="upload" (change)="uploadHandle($event)" #file hidden class="form-control" type="file">
    </div>
    <div class="my-3">
      <button type="submit" [disabled]="!productForm.valid&&images.length==0"
        class="btn btn-primary">{{currentId?"Update":"Create"}}</button>
    </div>
  </mat-card>
</form>