<mat-card>
  <mat-card-title class="text-uppercase">{{formType}}</mat-card-title>
  <form [formGroup]="authForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="legacy">
      <mat-label for="email">Email</mat-label>
      <input matInput id="email" type="email" formControlName="email">
    </mat-form-field>
    <app-show-validate [field]="authForm.get('email')" title="Email"></app-show-validate>
    <mat-form-field appearance="legacy">
      <mat-label for="password">Password</mat-label>
      <input matInput id="password" type="password" formControlName="password">
    </mat-form-field>
    <app-show-validate [field]="authForm.get('password')" title="Password"></app-show-validate>
    <button class="btn btn-dark">{{formType}}</button>
  </form>
</mat-card>