<h1 mat-dialog-title>Cập nhật mật khẩu</h1>
<div mat-dialog-content>
  <div class="d-flex align-items-center" *ngIf="!visible">
    <mat-form-field appearance="legacy">
      <mat-label>Nhập mật khâủ cũ</mat-label>
      <input matInput type="password" [formControl]="password">
      <mat-error *ngIf="password.invalid">Vui lòng nhập mật khẩu cũ</mat-error>
    </mat-form-field>
    <button (click)="checkPassword(password)" class="btn btn-sm btn-dark ms-2">Xác nhận</button>
  </div>
</div>
<div mat-dialog-actions>
  <form [formGroup]="passwordForm" (ngSubmit)="onSubmit()">
    <mat-error
      *ngIf="passwordForm.errors?.['hasComfirmError']&&(passwordForm.get('confirmPassword')?.dirty||passwordForm.get('confirmPassword')?.touched)"
      class="text-danger">Mật khẩu mới không khớp</mat-error>
    <div class="d-flex flex-column" *ngIf=" visible">
      <mat-form-field appearance="legacy">
        <mat-label>Nhập mật khâủ mới</mat-label>
        <input matInput type="password" formControlName="newPassword">
      </mat-form-field>
      <app-show-validate [field]="passwordForm.get('newPassword')" title="New Password"></app-show-validate>
      <mat-form-field appearance="legacy">
        <mat-label>Xác nhận mật khẩu</mat-label>
        <input matInput type="password" formControlName="confirmPassword">
      </mat-form-field>
      <app-show-validate [field]="passwordForm.get('confirmPassword')" title="Confirm Password"></app-show-validate>
    </div>
    <div>
      <button type="submit" [disabled]="!passwordForm.valid" mat-button cdkFocusInitial>Đổi mật khẩu</button>
      <button mat-button mat-dialog-close>Đóng</button>
    </div>
  </form>
</div>