<section class="h-100 h-custom bg-dark">
  <div class="container py-5 h-100">
    <mat-card>
      <div class="row px-3">
        <div class="col-md-4 w-full text-center ps-0 py-3">
          <img src="{{currentUser?.avatar}}" class="border border-2 rounded border-dark" alt="" mat-card-image>
          <button (click)="updateAvatar()" class="btn btn-dark btn-sm m-2"><i class="fas fa-camera"
              aria-hidden="true"></i> Thay đổi ảnh đại
            diện</button>
          <div>
          </div>
        </div>
        <div class="col-md-8 w-full border border-2 rounded border-dark p-3 ">
          <mat-card-title>Thông tin người dùng</mat-card-title>
          <h3>Email: {{currentUser?.email}} </h3>
          <h3>Trạng thái:
            <button *ngIf="!currentUser?.status" class="btn btn-sm btn-outline-dark">Kích hoạt</button>
            <button *ngIf="currentUser?.status" class="btn btn-sm btn-outline-danger">Chưa kích hoạt</button>
          </h3>
          <h3>Vai trò: {{currentUser?.role?"Admin":"Member"}}</h3>
          <form>
            <div class="d-flex align-items-center">
              <mat-form-field appearance="legacy">
                <mat-label>Tên người dùng</mat-label>
                <input matInput type="text" [formControl]="username">
                <mat-error *ngIf="username.invalid">Tên người dùng là bắt buộc</mat-error>
              </mat-form-field>
              <button (click)="changeUsername(username)" class="btn btn-sm btn-dark ms-2">Đổi tên</button>

            </div>
          </form>
          <button (click)="updatePassword()" class="btn btn-dark btn-sm ms-0 m-2"><i class="fas fa-key"
              aria-hidden="true"></i> Đổi mật
            khẩu</button>
          <button class="btn btn-dark btn-sm m-2"><i class="fas fa-eye" aria-hidden="true"></i> Xem đơn
            hàng</button>
        </div>
      </div>
    </mat-card>
  </div>
</section>