<!-- Navbar-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid justify-content-between">

    <!-- Left elements -->

    <div class="d-flex">
      <!-- Brand -->
      <div mdbDropdown class="nav-item dropdown d-md-none ">
        <a class="nav-link dropdown-toggle hidden-arrow" id="navbarDropdownMenuLink" role="button" mdbDropdownToggle
          aria-expanded="false">
          <i class="fas fa-bars fa-lg"></i>
        </a>
        <ul mdbDropdownMenu class="dropdown-menu " aria-labelledby="navbarDropdownMenuLink">
          <li>
            <a class="dropdown-item" routerLink="/">Trang chủ</a>
          </li>
          <li>
            <a class="dropdown-item" routerLink="/about">Giới thiệu</a>
          </li>
        </ul>
      </div>
      <a class="navbar-brand me-2 mb-1 d-flex align-items-center" routerLink="/home">
        <img src="../../../assets/images/file (1).svg" width="120px" alt="" loading="lazy" style="margin-top: 2px;" />
      </a>

      <!-- Search form -->

    </div>
    <!-- Left elements -->

    <!-- Center elements -->
    <app-search-bar></app-search-bar>

    <!-- Center elements -->

    <!-- Right elements -->
    <div class="d-flex">
      <a class="nav-link text-dark" matTooltipPosition="above" matTooltip="Tìm kiếm đơn hàng"
        routerLink="/search/orders">
        <i class="fas fa-binoculars fa-xl"></i>
      </a>
      <a class="nav-link text-dark" matTooltipPosition="above" matTooltip="Giỏ hàng" routerLink="/cart">
        <i class="fas fa-shopping-cart fa-xl"></i>
        <span class="badge rounded-pill badge-notification bg-danger">{{cartQuantity}}</span>
      </a>
      <div *ngIf="!userData" class="nav-item me-3 me-lg-1 active">

        <a routerLink="/register">
          <button class="btn btn-outline-dark me-2" type="button">Register</button>
        </a>
        <a routerLink="/login">
          <button class="btn btn-dark me-2" type="button">Login</button>
        </a>
      </div>
      <ul class="navbar-nav flex-row" *ngIf="userData">
        <li class="nav-item me-3 me-lg-1 active">

        </li>


        <li mdbDropdown class="nav-item dropdown me-3 me-lg-1">
          <a class="nav-link d-sm-flex align-items-sm-center nav-link dropdown-toggle " routerLink="/"
            id="navbarDropdownMenuLink" role="button" mdbDropdownToggle aria-expanded="false">
            <img [src]="userData.avatar" class="rounded-circle" height="22" width="22" alt="" loading="lazy" />
            <strong class="d-none d-sm-block ms-1">{{userData.username??userData.email}}</strong>
          </a>
          <ul mdbDropdownMenu class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink">
            <a routerLink="/profile">
              <li class="dropdown-item">
                Profile
              </li>
            </a>
            <a routerLink="/admin">
              <li class="dropdown-item">
                Admin
              </li>
            </a>
            <a (click)="logOutHandle()">
              <li class="dropdown-item">Log Out
              </li>
            </a>
          </ul>
        </li>
      </ul>
    </div>
    <!-- <a class="nav-link dropdown-toggle hidden-arrow" routerLink="/" id="navbarDropdownMenuLink" role="button"
          mdbDropdownToggle aria-expanded="false">
          <i class="fas fa-comments fa-lg"></i>

          <span class="badge rounded-pill badge-notification bg-danger">6</span>
        </a> -->
    <!-- Right elements -->
  </div>
</nav>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <!-- Container wrapper -->
  <div class="container-fluid">
    <!-- Toggle button -->
    <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#navbarCenteredExample"
      aria-controls="navbarCenteredExample" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fas fa-bars"></i>
    </button>

    <!-- Collapsible wrapper -->
    <div class="collapse navbar-collapse justify-content-center" id="navbarCenteredExample">
      <!-- Left links -->
      <ul class="navbar-nav mb-2 mb-lg-0">
        <a class="nav-link" [routerLinkActive]="['active']" routerLink="/home">
          <li class="nav-item mx-3 fw-bold">
            Trang chủ
          </li>
        </a>
        <a class="nav-link" [routerLinkActive]="['active']" routerLink="/about">
          <li class="nav-item mx-3 fw-bold">
            Giới thiệu
          </li>
        </a>
        <li class="nav-item mx-3 fw-bold">
          <a class="nav-link" [routerLinkActive]="['active']" routerLink="/products">Sản phẩm</a>
        </li>
        <!-- Navbar dropdown -->
        <li mdbDropdown class="nav-item mx-3 fw-bold dropdown  me-lg-1">
          <a class="nav-link d-sm-flex align-items-sm-center nav-link dropdown-toggle " [routerLinkActive]="['active']"
            [routerLinkActiveOptions]="{exact: true}" id="navbarDropdownMenuLink" role="button" mdbDropdownToggle
            aria-expanded="false">
            Danh mục
          </a>
          <ul mdbDropdownMenu class="dropdown-menu dropdown-menu-center" aria-labelledby="navbarDropdownMenuLink">
            <a *ngFor="let category of categories" [hidden]="category.status" routerLink="/category/{{category._id}}">
              <li class="dropdown-item">
                {{category.name}}
              </li>
            </a>

          </ul>
        </li>
      </ul>
      <!-- Left links -->
    </div>
    <!-- Collapsible wrapper -->
  </div>
  <!-- Container wrapper -->
</nav>
<!-- Navbar -->