<div class="container">
  <app-typography title="Name" text="Tran Anh Duong"></app-typography>
  <div>
    <p>Angular form</p>
    <app-form></app-form>
  </div>
  <!-- 
  <div>
    <p>Event</p>
    <button class="btn btn-primary" (click)="displayHandle()">{{!visible?'Display':'Hidden'}}</button>
  </div>
  <div>
    <label for="champname">Champ name</label>
    <input class="form-control" (input)="onInput($event,'name')" [value]="champData.name" type="text" name="champname">
  </div>
  <div>
    <label for="avatar">Avatar</label>
    <input class="form-control" (input)="onInput($event,'avatar')" type="text" [value]="champData.avatar" name="avatar">
  </div>
  <button type="submit" class="btn btn-primary" (click)="onSubmit($event)">Submit</button> -->
  <h1>Champs</h1>
  <app-table [champions]="champs" *ngIf="visible"></app-table>
</div>