/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
  min-height: 100vh;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

table {
  width: 100%;
}



.bg-dark,
.btn-dark {
  background-color: #009063 !important;
}

.text-dark {
  color: #009063 !important
}

.btn-outline-dark {
  outline-color: #009063 !important;
  border-color: #009063 !important;
}