/* You can add global styles to this file, and also import other style files */
:root {
  --primary: #009063;
}

html,
body {
  height: 100%;
  min-height: 100vh;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

table {
  width: 100%;
}



.bg-dark,
.btn-dark {
  background-color: var(--primary) !important;
}

.text-dark {
  color: var(--primary) !important
}

.btn-outline-dark {
  outline-color: var(--primary) !important;
  border-color: var(--primary) !important;
  color: var(--primary) !important;
}